.flexslider {
  position: relative;
  float: left;
  padding: 0;
  width: 100%;
  z-index: 1;
  transition: all 200ms ease-in-out;
}

.slider {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  float: left;
    
}

.mobile-slider {
    display: none;
}

.slider img {
  width: 100%;
}

.slider,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-control-nav {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 2%;
  z-index: 4;
}

.flex-control-nav li {
  display: inline-block;
  text-align: center;
  margin: 0 6px;
}

.flex-control-nav li a {
  display: block;
  background: rgb(226, 226, 226);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-indent: -9999px;
}

.flex-control-nav li a:hover {
  background: #777777;
}

.flex-control-nav li a.flex-active {
  background: #777777;
}

.flex-direction-nav a.flex-next::before {
  content: url(../_img/icons/next.png);
}

.flex-direction-nav a.flex-prev::before {
  content: url(../_img/icons/prev.png);
}

.flex-direction-nav a {
  display: block;
  text-decoration: none;
  position: absolute;
  margin-top: 35%;
  z-index: 4;
}

.flex-direction-nav .flex-prev {
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-next {
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3 ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
    top: 50%;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}